Flask==0.8
Flask-WTF==0.6
Jinja2==2.6
WTForms==1.0.1
Werkzeug==0.8.3
argparse==1.2.1
flask-peewee==0.5.4
gunicorn==0.14.6
gunicorn-console==0.1.12
peewee==0.9.6
pyPdf==1.13
setproctitle==1.1.6
sphinx-me==0.1.2
wsgiref==0.1.2
wtf-peewee==0.1.3
