<form id="formulario_recibos" action={{ url_for('generar_pdf_concatenado') }} method="POST">
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="retiros">
    <thead>
        <tr>
            <th class='centrar' width="100">
              <input id="seleccionar_todos" type="checkbox" name="seleccionar_todos" value="">
              <input type='submit' class="badge badge-warning" value="PDF" id='submit_pdf' disabled='disabled' />
              <input type='submit' class="badge badge-info" value="ZIP" id='submit_zip' disabled='disabled' />
            </th>
            <th>Nombre completo</th>
            <th>Numero</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th class='centrar' width="100">Acciones</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</form>

