<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Recibos Gcoop</title>

    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/jquery.dataTables.css" type="text/css" />

    {{ javascript("jquery.js") | safe }}

  </head>

  <body>


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Recibos Coop</a>

          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Principal</a></li>
              <li><a href="/importar">Importar</a></li>
              <li><a href="/pdf/ultimos">Generar todos</a></li>
              <li><a href="/admin">Administrar</a></li>
            </ul>
          </div>
          <form action="/accounts/logout/" class="navbar-form pull-right" method="get">
            <button class="btn danger">Logout</button>
          </form>
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="row-fluid">
        <div class='contenido'>

          <div class="span2">
          </div>

          <div class="span8">
            {% block content %}{% endblock %}
          </div>

          <div class="span2">
          </div>

        </div>
      </div>

      <hr>

      <footer><p>© Gcoop 2012</p></footer>


    </div>
  </body>
</html>
