<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="textxt/html" charset="UTF-8" />
    <title>Recibos Gcoop</title>

    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/jquery.dataTables.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/DT_bootstrap.css" type="text/css" />

    {{ javascript("jquery.js") | safe }}
    {{ javascript("bootstrap-alert.js") | safe }}
    {{ javascript("mustache.js") | safe }}
    {{ javascript("celery.js") | safe }}
    
    <script language="text/javascript">
      $(document).ready(
        function() {
          $(".alert").alert();
        });
    </script>

  </head>

  <body>


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Recibos Coop</a>

          <div class="nav-collapse">
            <ul class="nav">
            {% for route, title, class in menu %}
                <li class={{class}}><a href="{{route}}">{{title}}</a></li>
            {% endfor %}
            </ul>
          </div>
          <form action="/accounts/logout/" class="navbar-form pull-right" method="get">
            <button class="btn danger">Salir</button>
          </form>
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="row-fluid">
        <div class='contenido'>

          <div class="span1">
          </div>

          <div class="span10">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-block alert-{{ category }}">
                      <a class="close" href="#" data-dismiss="alert">×</a>
                      <p>{{ message | safe }}</p>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
          </div>

          <div class="span1">
          </div>

        </div>
      </div>

      <hr>

      <footer><p>© Gcoop 2012</p></footer>


    </div>
  </body>



  <script src='/static/js/angular.min.js'></script>
  <script src='/static/js/app.js'></script>

</html>
