{% extends 'base.html' %}
{% block content %}

{{ javascript("bootstrap-datepicker.js") | safe }}

<style>
textarea#nombres {
  text-align: right;
  cursor: default;
  border: 0;
  background-color: #eee;
}

textarea {
  width: 90%;
  height: 20em;
  resize: none;

}

table {
  width: 90%;
}

table td {
  margin: 5px;
}
</style>


<script>

function imprimir_mensaje(tipo, mensaje)
{
  $("#mensaje").html("<div class='alert alert-" + tipo + "'>" + mensaje + "</div>");
}

/**
 * Retorna la cantidad de lineas de un textarea dado su selector.
 * Esta función solamente cuenta las lineas que tienen texto (no vacíos).
 */
function cantidad_de_lineas(selector) {
  var contenido_como_lista = $(selector).val().split('\n');
  var cantidad = 0;

  for (var i=0; i<contenido_como_lista.length; i++) {
    if (contenido_como_lista[i])
        cantidad += 1;
  }

  return cantidad;
}


/**
 * Retorna true si todas las lineas del selector son numeros.
 * (los espacios en blanco se interpretan como numeros).
 */
function solo_tiene_numeros(selector) {
  var contenido_como_lista = $(selector).val().split('\n');

  for (var i=0; i<contenido_como_lista.length; i++) {
    if (isNaN(contenido_como_lista[i]))
        return false;

    }
    return true;
}

/**
 * Permite habilitar o deshabilitar el botón de la pagina.
 */
function habilitar_boton(estado){
  if (estado === true) {
    $('#importar').removeAttr('disabled');
    $('#importar').addClass('btn-primary');
  } else {
    $('#importar').attr('disabled', 'false');
    $('#importar').removeClass('btn-primary');
  }
}

/**
 * Se ejecuta cuando el usuario ingresa texto en la caja de montos.
 */
function cuando_ingresa_monto() {
  var cantidad_de_montos = cantidad_de_lineas("#montos");
  var cantidad_de_socios = cantidad_de_lineas("#nombres");

  /* Imprime el mensaje inicial */
  if (cantidad_de_montos === 0) {
    imprimir_mensaje("info", "Por favor ingresa los montos en el panel de la derecha.");
    habilitar_boton(false);
    return;
  }

  /* Valida de todos los montos se ingresaron y son numeros válidos */
  if (cantidad_de_socios === cantidad_de_montos) {
    if (solo_tiene_numeros("#montos")) {
      imprimir_mensaje("info", "Perfecto, ya se puede continuar.");
      habilitar_boton(true);
    } else {
      imprimir_mensaje("error", "Algunos montos no se pueden convertir a numeros (¿Usaste 'comas' en lugar de 'puntos'?).");
      habilitar_boton(false);
    }

  } else {
    imprimir_mensaje("error", "Los cantidad de montos a retirar no coinciden con la cantidad de nombres de socios.");
    habilitar_boton(false);
  }
}


$(document).ready(function() {
  cuando_ingresa_monto();
  $("#montos").live('keyup', cuando_ingresa_monto);
});
</script>



<form action="/importar" method="POST" enctype="multipart/form-data">
  {{ form.csrf }}
  <table>

    <tr>
      <td>
      </td>
      <td>
        Fecha
      </td>
    </tr>

    <tr>
      <td>
      </td>
      <td>
         {{form.fecha}}
      </td>
    </tr>

    <tr>
      <td width="200px">
        Nombres
      </td>

      <td>
        {{ form.montos.label }}
      </td>
    </tr>

    <tr>
      <td>
        <textarea id="nombres" disabled=disabled name="nombres">{{socios}}</textarea>
      </td>

      <td>
         {{ form.montos }}
      </td>
    </tr>
  </table>
  <p/>

<div id='mensaje'>
</div>

  <button id='importar' class='btn btn-primary' type='submit'><i class="icon-ok -circle icon-white"></i> Importar </button>
</form>
{% endblock %}
