{% extends 'base.html' %}
{% block content %}

<style>

textarea#nombres {
  background-color: white;
  text-align: right;
  cursor: default;
  border: none;
  -moz-appearance:none;
  outline: none;
  background-color: #eee;
}

textarea {
  width: 90%;
  height: 20em;
  resize: none;

}

table {
  width: 90%;
}

table td {
  margin: 5px;
}

</style>



<form action="/importar" method="POST" enctype="multipart/form-data">
  {{ form.csrf }}
  <table>

    <tr>
      <td width="200px">
        Nombres
      </td>

      <td>
        {{ form.montos.label }}
      </td>
    </tr>

    <tr>
      <td>
        <textarea id="nombres" disabled=disabled name="nombres">{{socios}}</textarea>
      </td>

      <td>
         {{ form.montos }}
      </td>
    </tr>


  </table>
  <p/>
  <input class='btn btn-primary' type='submit' value='Importar'/>
</form>
{% endblock %}
