{% extends 'base.html' %}
{% block content %}

{{ javascript('jquery.dataTables.min.js')|safe }}
{{ javascript('datatable.js') | safe }}
{{ javascript("DT_bootstrap.js") | safe }}

<form id="formulario_recibos" action={{ url_for('generar_pdf_concatenado') }} method="POST">

<div class='operacion_masiva'>
Con los registros seleccionados generar un archivo <input type='submit' class="badge badge-warning" value="PDF" id='submit_pdf' disabled='disabled' /> o un
archivo <input type='submit' class="badge badge-info" value="ZIP" id='submit_zip' disabled='disabled' />
</div>

<table width="100%" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
	<thead>
		<tr>
        <th class='centrar' width="100">
            <input id="seleccionar_todos" type="checkbox" name="seleccionar_todos" value="">
        </th>

        <th>Nombre completo</th>
        <th class='fecha'>Fecha</th>
        <th class-'monto'>Monto</th>
        <th class='acciones' width="100">Acciones</th>
		</tr>
	</thead>
  <tbody>
  </tbody>
</table>

</form>


{% endblock %}
