<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Recibo de Anticipo</title>

<link rel="stylesheet" href="../static/style.css" type="text/css" />

<body>

<h1>Recibo de anticipo de retornos a cuenta de excedentes</h1>

<img src='../static/logo.png'>

N° 0001 - {{numero}} 

MATRICULA INAES N° {{matricula}}
CUIT N° {{cuit}}
DOMICILIO: {{direccion}}

N° DE ASOCIADO: {{numero_asociado}}
APELLIDO Y NOMBRES: {{nombre_completo}}
DOMICILIO: {{domicilio}}
CUIT N°: {{cuit}}
DNI N°: {{dni}}

Recibí confirme la suma de Pesos {{monto_como_cadena}} en concepto de anticipo de retornos a cuenta de excedentes por mi aporte como trabajador asociado.

Son $ {{monto}}
Lugar y fecha {{lugar}} {{fecha}}


Firma del asociado


Firma p/Gcoop
</body>
</html>
